* {
    -webkit-font-smoothing: antialised;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}


.search_nav {
    position: absolute;
    width: 1920px;
    height: 129px;
    left: 0px;
    top: 0px;
    background: #FBE571;
}

.search_nav ul {
    display: flex;
    position: relative;
    top: 40px;
}

.search_nav ul>li:first-child {
    position: absolute;
    top: -2px;
    left: 100px;
    font-weight: 700;
    font-size: 34px;
}


.mainsearch {
    position: absolute;
    top: -10px;
    left: 280px;
    width: 896px;
    height: 60px;
    background: rgba(230, 230, 230, 0.5);
    border-radius: 30px;
}

.mainsearch>form {
    text-align: center;

}

.mainsearch>form>input {
    font-size: 16px;
    border: none;
    margin-top: 9px;
    width: 700px;
    height: 40px;
    background: rgba(230, 230, 230, 0);
    outline: none;
}

.mainsearch button {
    cursor: pointer;
    background-color: rgba(230, 230, 230, 0);
    border: none;
    margin-left: 80px;
    font-size: 22px;
}

.search_nav ul>li:last-child {
    position: absolute;
    top: -3px;
    right: 100px;
    font-weight: 700;
    font-size: 34px;
}

.search_nav ul>li:last-child i {
    margin-right: 15px;
}

.nav {
    position: relative;
    width: 1920px;
    height: 78px;
    background-color: white;
    top: 129px;
    border-bottom: 1px solid #C1C1C1;
    display: flex;
}

.nav ul {
    position: relative;
    display: flex;
    font-weight: 550;
    font-size: 16px;
    left: 100px;
    text-align: center;
    line-height: 73px;

}

.nav ul:first-child li i {
    font-size: 20px;
}

.nav ul:first-child {
    padding: 0;
}

.nav ul li:not(:first-child) {
    cursor: pointer;
}

.nav ul:first-child li {
    /* margin-right: 86px; */
    width: 160px;
    height: 78px;
}


.nav ul:last-child {
    margin-left: 460px;
    padding: 0;
}

.nav ul:last-child li {
    width: 90px;
}

.nav ul li:not(:first-child):hover {
    background-color: #FBE571;
}



body {
    margin: 0;
    background-color: #d9d9d9;
}

.box {
    position: relative;
    margin: 300 auto;
    width: 700px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    color: black;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    border-radius: 48px;
    text-align: center;
    vertical-align: text-middle;
    font-size: 36px;
    font-family: Roboto;
    letter-spacing: 0.75px;
    line-height: 78px;
    padding-top: 100px;

}


.box p {
    font-size: 20px;
    margin: 50px;
}


.box input,
.box button {
    margin: 5px 0;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 4px;
}

.box input {
    margin: auto;
}

.box input[type=submit] {
    border: none;
    padding: 10px;
    width: 495px;
    height: 82px;
    background-color: #FBE571;
    margin-bottom: 30px;
    border-radius: 48px;
    font-size: 24px;
    font-family: Roboto;
    letter-spacing: 0.75px;
    line-height: 28px;
    color: white;
}

.box input[type=submit]:hover {
    color: black
}

.link a {
    position: relative;
    left: 750px;
    margin: 23;
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    float: right;
    text-decoration-line: none;
}

a{text-decoration:none; color:black;}
.menu:after{display:block; content:''; clear:both;}
.menu > li{position:relative; float:left; margin-right:5px;}
.menu > li > a{display:block; padding:0 15px; background:white; height:40px; line-height:40px;}
.menu > li:hover .depth {display:block; }
.menu > li:hover {
    background-color: #FBE571;
}
.menu .depth{display:none; background: white; position:relative; left:0; right:0; text-align:center;z-index: 10;}
.menu .depth a{display:block; padding:5px;}
.menu .depth a:hover{
    background:#FBE571;
    color:black;
}